.zleadscrm_tab_content {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.zleadscrm_col_colored {
    background-color: #eee;
}

.zleadscrm_center {
    text-align: center;
}

.zleadscrm_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.zleadscrm_padding_table_row {
    padding: 10px 0;
}

.zleadscrm_row.zleadscrm_wide {
    margin-left: -15px;
    margin-right: -15px;
}

.zleadscrm_col_1 {
    width: 8.33%;
    flex: 0 0 8.33%;
    box-sizing: border-box;
    padding: 15px;
}

.zleadscrm_col_2 {
    width: 16.66%;
    flex: 0 0 16.66%;
    box-sizing: border-box;
    padding: 15px;
}

.zleadscrm_col_3 {
    width: 25%;
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: 15px;
}

.zleadscrm_col_4 {
    width: 33.33%;
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 15px;
}


.zleadscrm_col_6 {
    width: 50%;
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 15px;
}


.zleadscrm_col_8 {
    width: 66.66%;
    flex: 0 0 66.66%;
    box-sizing: border-box;
    padding: 15px;
}

.zleadscrm_col_9 {
    width: 75%;
    flex: 0 0 75%;
    box-sizing: border-box;
    padding: 15px;
}

.zleadscrm_col_10 {
    width: 83.3%;
    flex: 0 0 83.3%;
    box-sizing: border-box;
    padding: 15px;
}

.zleadscrm_col_12 {
    width: 100%;
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 15px;
}

.zleadscrm_col_fill {
    flex: 1;
}

.zleadscrm_disabled_vpadding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.zleadscrm_disabled_hpadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.zleadscrm_disabled_padding {
    padding: 0 !important;
}

.zleadscrm_tab_content .select2-container {
    max-width: 100%;
}


.zleadscrm_overview_wrap .widefat .column-wc_actions {
    width: 120px;
}


#zleadscrm_roles_wrap {
    width: 100%;
    height: 250px;
    overflow-y: auto;
    background: white;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #ddd;
}

#zleadscrm_roles_wrap .zleadscrm_edit_settings_flex_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

#zleadscrm_roles_wrap .zleadscrm_edit_settings_flex_wrap:last-child {
    margin-bottom: 0 !important;
}

.zleadscrm_edit_settings_flex_wrap label {
    margin-top: -3px;
    margin-left: 5px;
}


div.zleadscrm_not_allowed_wrap {
    display: block;
    text-align: left;
    background: #fff;
    padding: 1rem;
    margin: 5rem auto;
    width: 50%;
    border: solid 1px #ddd;
}

select#zleadscrm_users_access_my_bookmarks_list,
select#zleadscrm_users_access_all_bookmarks_list,
select#zleadscrm_users_company_list {
    width: 800px;
}

th.column-actions, td.column-actions {
    text-align: center;
}

div.zleadscrm_loading_screen {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: baseline;
    z-index: 3;
}

label.zleadscrm_form_label {
    margin-bottom: 5px;
    display: block;
}

input.zleadscrm_widefat_input,
textarea.zleadscrm_widefat_input,
div.zleadscrm_widefat,
select.zleadscrm_widefat_input {
    width: 90%;
    margin-bottom: 5px;
}

input.zleadscrm_halfwidefat_input,
div.zleadscrm_halfwidefat,
select.zleadscrm_halfwidefat_input {
    width: 80%;
    margin-bottom: 5px;
}

.zleadscrm_goback_btn {
    text-decoration: none;
    display: inline-block;
    background: #0085ba;
    border: 1px solid black;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    margin: 0;
    line-height: 21px;
    box-sizing: border-box;
    padding: 3px 3px 1px 3px;
    border-radius: 4px;
    margin-left: 10px;
}

.zleadscrm_goback_btn:hover {
    background: #008ec2;
    border-color: #006799;
}

.zleadscrm_goback_btn span {
    color: white;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    font-size: 16px;
}

div.zleadscrm_updated_notice {
    background: white;
    padding: 5px 20px;
    margin-top: 15px;
    border-left: solid 5px green;
}

.zleadscrm_align_table_mobile {
    float: right;
}

.zleadscrm_is_desktop_layout {
    display: block !important;
}

.zleadscrm_is_mobile_layout {
    display: none !important;
}

.zleadscrm_box_shaddow {
    width: 260px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.zleadscrm_addon_buy_button {
    background-color: white;
    color: #0073aa;
    border: 2px solid #e7e7e7;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.zleadscrm_addon_buy_button:hover {
    background-color: #e7e7e7;
}

div.zleadscrm_addon_box {
    margin: 30px;
    display: inline-block;
    vertical-align: text-top;
    background-color: #f8f8f8;

}

div.zleadscrm_addon_title {
    background: #eaeaea;
    border-bottom: 2px solid #ccc;
    padding: 20px;
    text-align: center;
}

div.zleadscrm_addon_description {
    padding: 10px 20px;
    background-color: #f8f8f8;
    min-height: 120px;
}

div.zleadscrm_addon_action {
    padding: 10px 20px;
    background-color: #f8f8f8;
}

span.zleadscrm_addon_active_label::before {
    content: "\2022";
    color: green;
    font-weight: bold;
    display: inline-block;
    font-size: 45px;
}

span.zleadscrm_addon_enable_label::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    display: inline-block;
    font-size: 45px;

}

.zleadscrm_addon_title h2 {
    font-size: 1.5em;
}

.zleadscrm_card_box {
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.zleadscrm_card_box_container {
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background: #f9f9f9
}

@media all and (max-width: 737px) {
    .zleadscrm_mobile_grow_100 {
        width: 100%;
    }

    .zleadscrm_mobile_grow_35 {
        width: 35%;
    }

    .zleadscrm_col_6 {
        width: 100%;
        flex: 0 0 100%;
        border: none !important;
    }

    .zleadscrm_col_4 {
        width: 100%;
        flex: 0 0 100%;
        border: none !important;
    }

    .zleadscrm_results_apply_col {
        width: 100% !important;
        flex: 0 0 100% !important;
        border: none !important;
        text-align: center !important;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .zleadscrm_col_8 {
        width: 100%;
        flex: 0 0 100%;
        border: none !important;
    }

    .zleadscrm_col_3 {
        width: 50%;
        flex: 0 0 50%;
        border: none !important;
    }

    input.zleadscrm_halfwidefat_input, div.zleadscrm_halfwidefat, select.zleadscrm_halfwidefat_input {
        width: 90%;
    }

    .zleadscrm_mobile_col {
        width: 100%;
        flex: 0 0 100%;
        border: none !important;
        margin-left: 0 !important;
        margin-top: 2rem;
    }

    .zleadscrm_align_table_mobile {
        float: left;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    span.tablenav-paging-text {
        display: none;
    }

    .zleadscrm_is_desktop_layout {
        display: none !important;
    }

    .zleadscrm_is_mobile_layout {
        display: block !important;
    }

    .zleadscrm_business_type_mobile_layout {
        margin-top: 10px;
        width: 100% !important;
        flex: 0 0 100% !important;
        border: none !important;
    }
}
